<div id="container">

  <div class="topnav">

    <div id="buscar">




    </div>

    <div id="secion">

      <div id="secionbox">

        <div id="icon" (click)="activarOpt()">

          <i class="fas fa-user"></i>

        </div>

      </div>

      <div id="optspace">

        <div id="optbox">

          <div id="Log out" class="opt" (click)="logout()">

            <div class="logo">
              <i class="fas fa-sign-out-alt"></i>
            </div>
            <div class="mesage">
              Log out
            </div>

          </div>



        </div>

      </div>


    </div>


  </div>

  <div class="contenido" (click)="propieties($event)">

    <div id="cabecera">
      <div class="encabezado" *ngFor="let key of proyectoInfo">
        <b>{{key.proyecto}}</b>
      </div>

      <div class="encabezado" id="direccion">
        {{direccion}}
      </div>
    </div>

    <div id="tabbox">

      <div id="marc">

        <div id="entidadbox">

          <div id="textbox">

            <div id="text">

              Fases

            </div>


          </div>

          <div id="optmenu">




          </div>

        </div>

        <div id="itemcontainer">

          <div class="item" *ngFor="let key of listFases; let i = index" id="{{key.id_fases}}">


            <div class="elm" id="1" >

              <div id="fase">
                {{key.fase}}
              </div>

            </div>

            <div class="elm" id="2" >

              <div id="fecha_inicio">
                Fecha incicio:&ensp;<b>{{key.fecha_inicio}}</b>
              </div>

            </div>

            <div class="elm" id="4" >

              <div id="fecha_final" *ngIf="key.fecha_finalizacion==null">
                Fecha final:&ensp;<b>-</b>
              </div>

              <div id="fecha_final" *ngIf="key.fecha_finalizacion!=null">
                Fecha final:<b>{{key.fecha_finalizacion}}</b>
              </div>

            </div>

            <div class="elm" id="5">

              <div id="estado">
                Estado:&ensp;<b>{{key.estadofase}}</b>
              </div>

            </div>

            <div class="elm" id="3">



            </div>


          </div>


        </div>

      </div>

    </div>

  </div>


</div>