#container{
  width: 100vw;
  height: 100vh;
  display: flex;
  box-sizing: border-box;
  padding: 0;
  align-items: center;
  justify-content: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background: #ECF0F5;

  #backBox{

    width: 150px;
    height: 75px;
    //background: #00F496;
    position: absolute;
    display: flex;  
    top: 1vh;
    left: 1vw;
    justify-content: center;
    align-items: center;
    #backBtn{
        width: 70%;
        height: 60%;
        background: #7C7C7C;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        color: white; 
    }#backBtn:hover{
        cursor: pointer;
        background: rgb(97, 97, 97);
    }


  }


  #loginbox{

      width: 450px;
      height: 700px;
      display: inline-block;
      background: white;
      border-radius: 5px;

      #head{
          width: 100%;
          height: 15%;
          display: flex;

          background: #00F496;
          border: 2px solid #00F496;

          align-items: center;
          justify-content: center;

          font-size: 40px;
          color: white;

         
          text-indent: 5pt; /* para sangrias */  

          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          border-bottom:0; 
      }

      form{

        width: 100%;
        height: 85%;
        

      #content{

          width: 100%;
          height: 100%;
          display: inline-block;

          border: 2px solid #00F496;
          border-bottom-left-radius: 5px;
          border-bottom-right-radius: 5px;
          border-top:0; 

          .entradas{
              width: 100%;
              height: 17%;
              display: flex;
              align-items: center;
              justify-content: center;
              input{
                  width: 90%;
                  height: 50%;
                  border-radius: 10px;
                  border: 0.5px solid gray;
                  text-indent: 10pt; /* para sangrias */
                  font-size: 17px; 
              }

              select{
                width: 40%;
                height: 30%;
                background: gray;
                font-size: 17px; 
                border-color: #fff transparent transparent transparent;
                color: white;
                
              }
          }

          #log{

              width: 100%;
              height: 32%;
              display: flex;
              justify-content: center;
              align-items: center;

           
              
              #boton{

                  width: 100%;
                  height: 25%;
                  display: flex;
                  align-items: center;
                  justify-content: center;


                  button{
                      width: 90%;
                      height: 100%;
                      border-radius: 10px;
                      border: 1.5px solid gray;

                      background: #7C7C7C;

                      font-size: 20px; 
                      color: white;
                  }

                  button:hover{
                      cursor: pointer;
                      background: rgb(85, 85, 85);
                  }
              }
            
          }

      }
    }
      
  }


}