<div id="container">

  <div id="loginbox">

    <div id="head">

      <b><i class="fas fa-lightbulb"></i></b>
      <p><b>GREENLIGTH</b></p>

    </div>

    <div id="content">


      <div id="Texto">


        <div id=cabecera>

          <b>Recuperar contraseña</b>

        </div>

        <div id=instruccion>

          <p align="center"> Introduce tu dirección de correo electrónico para la recuperación</p>

        </div>


      </div>

      <div id="inputs">

        <div id="email">

          <input type="text" name="email" placeholder="Email">

        </div>

        <div id="enviar">

          <div id="boton">
            <button type="button"><b>Enviar</b></button>
          </div>

        </div>

      </div>

    </div>
  </div>

</div>