<div id="container">

  <div class="topnav">

    <div id="buscar">


    </div>

    <div id="secion">

      <div id="secionbox">

        <div id="icon" (click)="activarOpt()">

          <i class="fas fa-user"></i>

        </div>

      </div>

      <div id="optspace">

        <div id="optbox">

          <div id="Log out" class="opt" (click)="logout()">

            <div class="logo">
              <i class="fas fa-sign-out-alt"></i>
            </div>
            <div class="mesage">
              Log out
            </div>

          </div>

          

        </div>

      </div>


    </div>


  </div>

  <div class="contenido" (click)="propieties($event)">

    <div id="cabecera">
      <div class="encabezado" *ngFor="let key of sucursal">
        <b>{{key.sucursal}}</b>
      </div>
      <div class="encabezado" id="direccion" *ngFor="let key of sucursal">
        {{key.direccion}}
      </div>
    </div>

    <div id="tabbox">

      <div id="marc">

        <div id="entidadbox">

          <div id="textbox">

            <div id="text">

              Proyectos

            </div>


          </div>

          <div id="optmenu">

            


          </div>

        </div>

        <div id="itemcontainer">

          <div class="item" *ngFor="let key of listProyectos; let i = index" id="{{key.id_proyecto}}">
            

            <div class="elm" id="1" (click)="redirectFase(key.id_proyecto)">

              <div id="proyecto">
                {{key.proyecto}}
              </div>

            </div>

            <div class="elm" id="2" (click)="redirectFase(key.id_proyecto)">

              <div id="estado">
                Estado:&ensp;<b>{{key.estado}}</b>
              </div>

            </div>

            <div class="elm" id="3">

             
              

            </div>


          </div>


        </div>

      </div>

    </div>

  </div>


</div>


