<div id="container">

  <div class="topnav">

    <div id="buscar">




    </div>

    <div id="secion">

      <div id="secionbox">

        <div id="icon" (click)="activarOpt()">

          <i class="fas fa-user"></i>

        </div>

      </div>

      <div id="optspace">

        <div id="optbox">

          <div id="Log out" class="opt" (click)="logout()">

            <div class="logo">
              <i class="fas fa-sign-out-alt"></i>
            </div>
            <div class="mesage">
              Log out
            </div>

          </div>



        </div>

      </div>


    </div>


  </div>

  <div class="contenido" (click)="propieties($event)">

    <div id="cabecera">
      <div id="encabezado" *ngFor="let key of usserData">
        Bienvenido&ensp;<b>{{key.nombre}}</b>
      </div>
    </div>

    <div id="tabbox">

      <div id="marc">

        <div id="entidadbox">

          <div id="textbox">

            <div id="text">

              Inversiones

            </div>


          </div>

          <div id="optmenu">

            <div id="optbtn" (click)="showAdd($event)">

              <i class="fas fa-plus"></i>

            </div>


          </div>

        </div>

        <div id="itemcontainer">



          <div id="tabla">
            <table>

              <thead>
                <tr>
                  <th>Invercion</th>
                  <th>Interes</th>
                  <th>Fecha inversión</th>
                  <th>#Cuotas</th>
                  <th>Ganancia total</th>
                  <th>Ganacia_actual</th>
                  <th>Fecha de retribución</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let key of inversiones">
                  <td>{{key.invertido|pesosTransform}}</td>
                  <td>{{key.interes}}%</td>
                  <td>{{key.fecha_inversion}}</td>
                  <td>{{key.cuotas_fijadas}}</td>
                  <td>{{key.ganancia_total|pesosTransform}}</td>
                  <td>{{key.ganacia_actual|pesosTransform}}</td>
                  <td>{{key.fecha_retribucion}}</td>
                </tr>
              </tbody>
            </table>
          </div>


        </div>

      </div>

    </div>

  </div>


</div>


<!--------------------------------añadir--------------------------------------->

<div id="añadir" style="display: none">

  <div id="cabecera">

    <div id="closebox">

      <i class="fas fa-window-close" (click)="closeadd()"></i>

    </div>

  </div>
  <div id="contenido">

    <div class="inputbox">

      <input type="text" name="codigo" placeholder="Codigo" [(ngModel)]="codeIngreso">

    </div>

    <div id="añadirbox">

      <button type="submit" (click)="create()"><b>Crear</b></button>

    </div>

  </div>

</div>