<div id="container">

  <div class="topnav">

    <div id="buscar">


      <div id=conjunto>

        <div id="busbar" class="entradas">

          <input type="text" name="user" placeholder="Buscar">

        </div>

      </div>

    </div>

    <div id="secion">

      <div id="secionbox">

        <div id="icon" (click)="activarOpt()">

          <i class="fas fa-user"></i>

        </div>

      </div>

      <div id="optspace">

        <div id="optbox">

          <div id="añadirUsuario" class=opt (click)="redirectAddUsser()">

            <div class="logo" >
              <i class="fas fa-user-plus"></i>
            </div>
            <div class="mesage">
              Añadir usuario
            </div>

          </div>

          <div id="eliminarUsuario" class=opt>

            <div class="logo">
              <i class="fas fa-user-minus"></i>
            </div>
            <div class="mesage">
              Eliminar usuario
            </div>


          </div>

          <div id="editarPerfil" class=opt>

            <div class="logo">
              <i class="fas fa-cog"></i>
            </div>
            <div class="mesage">
              Editar perfil
            </div>

          </div>

        </div>

      </div>


    </div>


  </div>

  <div class="contenido">

  </div>


</div>