<div id="container">

  <div class="topnav">

    <div id="buscar">


      <div id=conjunto>

        <div id="busbar" class="entradas">

          <input type="text" name="user" placeholder="Buscar" [(ngModel)]="busqueda" (keyup)="updateBusqueda($event)">

        </div>

      </div>

    </div>

    <div id="secion">

      <div id="secionbox">

        <div id="icon" (click)="activarOpt()">

          <i class="fas fa-user"></i>

        </div>

      </div>

      <div id="optspace">

        <div id="optbox">

          <div id="añadirUsuario" class=opt (click)="redirectAddUsser()">

            <div class="logo">
              <i class="fas fa-user-plus"></i>
            </div>
            <div class="mesage">
              Añadir usuario
            </div>

          </div>

          <div id="eliminarUsuario" class=opt>

            <div class="logo">
              <i class="fas fa-user-minus"></i>
            </div>
            <div class="mesage">
              Eliminar usuario
            </div>


          </div>

          <div id="editarPerfil" class=opt>

            <div class="logo">
              <i class="fas fa-cog"></i>
            </div>
            <div class="mesage">
              Editar perfil
            </div>

          </div>

        </div>

      </div>


    </div>


  </div>

  <div class="contenido">

    <div id="cabecera">
      <div id="encabezado" *ngFor="let key of usserData">
        <b>Bienvenido</b>&ensp;{{key.nombre}}
      </div>
    </div>

    <div id="tabbox">

      <div id="marc">

        <div id="entidadbox">

          <div id="textbox">

            <div id="text">

              Entidades

            </div>


          </div>

          <div id="optmenu">

            <div id="optbtn">

              <i class="fas fa-plus"></i>

            </div>


          </div>

        </div>

        <div id="itemcontainer">

          <div class="item" *ngFor="let key of listEntidad; let i = index">

            <div class="elm" id="1">

              <div id="entidad">
                {{key.entidad}}
              </div>

            </div>

            <div class="elm" id="2">

              <div id="cantidad">
                <b><i id={{i}}item class="fas fa-circle"></i></b>&ensp;{{key.cantidad_sucursales}} sucuersales
              </div>

            </div>

            <div class="elm" id="3">

              <div id="editar">

                <i class="fas fa-pencil-alt"></i>

              </div>

            </div>


          </div>
          

        </div>

      </div>

    </div>

  </div>


</div>