<div id="container">

  <div id="margen">

    <div id="cabecera">
      <div class="encabezado" *ngFor="let key of fase">
        <b>{{key.fase}}</b>
      </div>
      <div class="encabezado" id="direccion">
        {{direccion}}
      </div>
    </div>

    <div id="tabbox">

      <div id="entidadbox">


        <div id="textbox">

          <div id="text">

            Presupuestos y ejecución de gastos

          </div>


        </div>

        <div id="optmenu">

          <div id="optbtn" (click)="showAdd($event)">

            <i class="fas fa-plus"></i>

          </div>


        </div>


      </div>

      <div id="tabla">
        <table>

          <thead>
            <tr>
              <th></th>
              <th>Entidad</th>
              <th>Presupuesto</th>
              <th>Fecha presupuesto de pago</th>
              <th>Estado</th>
              <th>Fecha de pago</th>
              <th>Corte</th>
              <th>Pago</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of listGasto">

              <td class="detalle" *ngIf="key.tipocorte=='Mensual'">
                <i class="fas fa-clipboard-list"></i>
              </td>
              <td class="detalle" *ngIf="key.tipocorte!='Mensual'">
              </td>
              <td>{{key.entidad}}</td>
              <td>{{key.presupuesto_gasto|pesosTransform}}</td>
              <td>{{key.fecha_presupuesto_gasto}}</td>
              <td>{{key.estadogasto}}</td>
              <td>{{key.fecha_pago}}</td>
              <td>{{key.tipocorte}}</td>
              <td>{{key.pago|pesosTransform}}</td>
              
  

              <td class="ingreso" *ngIf="key.pago==null&&key.tipocorte=='Puntual'">
                <i class="fas fa-check" (click)="openIngreso(key.id_ingreso,key.tipoingreso)"></i>
              </td>
              <td class="ingreso" *ngIf="!key.pago&&key.tipocorte!='Puntual'">
              </td>

              <td class="especial">
                <i class="fas fa-trash-alt" (click)="deleteIngreso(key.id_ingreso)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>

  </div>

</div>


<!--------------------------------añadir--------------------------------------->

<div id="añadir" style="display: none">

  <div id="cabecera">

    <div id="closebox">

      <i class="fas fa-window-close" (click)="closeadd()"></i>

    </div>

  </div>
  <div id="contenido">

    <div id="formulario">


      <div id="newentidad">

        <input id="entidad" type="text" name="user" placeholder=" Nueva entidad" [(ngModel)]="nuevaEntidad">

      </div>
      <div id="subdata">

        $&ensp;<input class="dupla" id="Presupuesto" type="text" name="user" placeholder="Presupuesto de gasto"
          [(ngModel)]="presupuesto" (keyup)="simulacionPesos($event)">
        <label for="start">Fecha presupuesto:&ensp;</label>
        <input class="dupla" id="Fecha_presupuesto" type="date" name="user" placeholder="Fecha presupuesto"
          (change)="updateFechaPresupuesto($event)">

      </div>
      <div id="selector">

        <input id="cuotas" type="text" name="user" placeholder="#Cuotas" [(ngModel)]="cuotas">

      </div>

    </div>

    <div id="añadirbox">

      <button type="submit" (click)="create()"><b>Crear</b></button>

    </div>

  </div>

</div>

<!--------------------------------Editar--------------------------------------->
<div id="editar" style="display: none">

  <div id="cabecera">

    <div id="closebox">

      <i class="fas fa-window-close" (click)="closeEdit()"></i>

    </div>

  </div>
  <div id="contenido">

    <div id="formulario">


      <div id="newenIngreso">

        $&ensp;<input id="ingreso" type="text" name="user" placeholder="Ingreso" [(ngModel)]="ingreso"
          (keyup)="simulacionPesos($event)" pattern="^[\d,]+$">

      </div>
      <div id="subdata">
        <input class="dupla" id="interes" type="text" name="user" placeholder="Interes(%)" [(ngModel)]="interes"
          *ngIf="tipo_seleccionado!='Interno'" (keyup)="verificar($event)">
        <label for="start">Fecha de ingreso:&ensp;</label>
        <input class="dupla" id="Fecha_Ingreso" type="date" name="user" placeholder="Fecha de ingreso"
          (change)="updateFechaIngreso($event)">
      </div>
      <div id="pfinal">
        <input id="cuota" type="text" name="user" placeholder="#Cuotas" [(ngModel)]="cuotas"
          *ngIf="tipo_seleccionado!='Interno'" (keyup)="verificar($event)">
      </div>



    </div>

    <div id="añadirbox">

      <button type="submit" (click)="ingreasar()"><b>Ingresar</b></button>

    </div>

  </div>

</div>