<div id="container">

  <div id="margen">

    <div id="cabecera">
      <div class="encabezado" *ngFor="let key of fase">
        <b>{{key.fase}}</b>
      </div>
      <div class="encabezado" id="direccion">
        {{direccion}}
      </div>
    </div>

    <div id="tabbox">

      <div id="entidadbox">


        <div id="textbox">

          <div id="text">

            Presupuestos y ejecución de gastos

          </div>


        </div>

        <div id="optmenu">

          <div id="optbtn" (click)="showAdd($event)">

            <i class="fas fa-plus"></i>

          </div>


        </div>


      </div>

      <div id="tabla">
        <table>

          <thead>
            <tr>
              <th></th>
              <th>Entidad</th>
              <th>Presupuesto</th>
              <th>Pago pactado</th>
              <th>Fecha presupuesto de pago</th>
              <th>Estado</th>
              <th>Fecha de pago</th>
              <th>Corte</th>
              <th>Pago</th>
              <th>Interes</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let key of listGasto">

              <td class="detalle" *ngIf="key.tipocorte=='Mensual'">
                <i class="fas fa-clipboard-list" (click)="redirectSubgastos(key.id_gasto,key.entidad)"></i>
              </td>
              <td class="detalle" *ngIf="key.tipocorte!='Mensual'">
              </td>
              <td>{{key.entidad}}</td>
              <td>{{key.presupuesto_gasto|pesosTransform}}</td>
              <td>{{key.pago_pactado|pesosTransform}}</td>
              <td>{{key.fecha_presupuesto_gasto}}</td>
              <td>{{key.estadogasto}}</td>
              <td>{{key.fecha_pago}}</td>
              <td>{{key.tipocorte}}</td>

              <td *ngIf="key.pago!=0">{{key.pago|pesosTransform}}</td>
              <td *ngIf="key.pago==0"></td>

              <td *ngIf="key.interes!=null">{{key.interes}}%</td>
              <td *ngIf="key.interes==null"></td>

              <td class="ingreso">
                <i class="fas fa-check" *ngIf="key.pago==null&&key.pago_pactado==null" (click)="openIngreso(key.id_gasto,key.fecha_presupuesto_gasto)"></i>
              </td>
              

              <td class="especial">
                <i class="fas fa-trash-alt" (click)="deleteGastos(key.id_gasto)"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </div>

  </div>

</div>


<!--------------------------------añadir--------------------------------------->

<div id="añadir" style="display: none">

  <div id="cabecera">

    <div id="closebox">

      <i class="fas fa-window-close" (click)="closeadd()"></i>

    </div>

  </div>
  <div id="contenido">

    <div id="formulario">


      <div id="newentidad">

        <input id="entidad" type="text" name="user" placeholder=" Nueva entidad" [(ngModel)]="nuevaEntidad">

      </div>
      <div id="subdata">

        $&ensp;<input class="dupla" id="Presupuesto" type="text" name="user" placeholder="Presupuesto de gasto"
          [(ngModel)]="presupuesto" (keyup)="simulacionPesos($event)">
        <label for="start">Fecha presupuesto:&ensp;</label>
        <input class="dupla" id="Fecha_presupuesto" type="date" name="user" placeholder="Fecha presupuesto"
          (change)="updateFechaPresupuesto($event)">

      </div>


    </div>

    <div id="añadirbox">

      <button type="submit" (click)="create()"><b>Crear</b></button>

    </div>

  </div>

</div>

<!--------------------------------Editar--------------------------------------->
<div id="editar" style="display: none">

  <div id="cabecera">

    <div id="closebox">

      <i class="fas fa-window-close" (click)="closeEdit()"></i>

    </div>

  </div>
  <div id="contenido">

    <div id="formulario">


      <div id="newenIngreso">

        <input id="ingreso" type="text" name="user" placeholder="Costo" [(ngModel)]="gasto"
          (keyup)="simulacionPesos($event)" pattern="^[\d,]+$">

      </div>
      <div id="subdata">

        <input id="cuotas" type="text" name="user" placeholder="#Cuotas" [(ngModel)]="cuotas"
          (keyup)="simulacionPesos($event)" pattern="^[\d,]+$">

        
        <input *ngIf="cuotas>0" id="interes" type="text" name="user" placeholder="interes" [(ngModel)]="interes"
          (keyup)="simulacionPesos($event)" pattern="^[\d,]+$" >  <div *ngIf="cuotas>0" >&ensp;%</div>

        

      </div>

    

    </div>

    <div id="añadirbox">

      <button type="submit" (click)="ingreasar()"><b>Ingresar</b></button>

    </div>

  </div>

</div>